%ul#active_lines_sortable.lines_sortable
	-if @graph.graph_lines.size > 0
		-@graph.graph_lines.each do |gl|
			%li.ui-state-default[gl]
				=render :partial => "active_graph_line_item", :object => gl  
	-else
		No sources defined yet.
:javascript
	$('#active_lines_sortable').sortable({
		receive: function(event,ui){

		},
		update: function(event,ui){
			$('#active_lines_sortable').sortable('disable');
			$.ajax({
				url: '/graphs/#{@graph.id}/updatesources',
				data: {
					order: $('#active_lines_sortable').sortable('toArray').join(';')
					},
				type: 'POST'
			});
		}
	});