%h2 Edit Graph #{@graph.name}

%h4 Properties
=render :partial => 'form'

%h4 Active Sources

=render :partial => "active_graph_lines" 
	
%h4 Inactive Sources
%ul#inactive_lines_sortable.lines_sortable
	- @sources.reject{|s| @graph.graph_lines.map(&:source) == s}.each do |s|
		%li.ui-state-default[s]{"data-source_id" => s.id}
			= s.identifier
	:javascript
		$('#inactive_lines_sortable').sortable({connectWith: '.lines_sortable'});	
-#
	%h4 Add Source from Tree
	#treecontainer
	:javascript
		$('#treecontainer').jstree({
			"json_data" : {
				"data" : #{ActiveSupport::JSON::encode(Source.tree)}
			},
			"themes" : {
				"theme" : "default",
				"dots" : true,
				"icons" : false,
				"url" : "/stylesheets/tree/style.css"
			},
			"plugins" : [ "themes", "json_data" ]
		});
