- if @graphs.size > 0
	- @graphs.each do |g|
		%h4=g.name
		=render :partial => g 
		=link_to "show", graph_path(g) 
		-if can? :edit, g
			=link_to "edit", edit_graph_path(g)
		-if can? :delete, g
			=link_to "delete", g, :confirm => "Are you sure you want to delete this graph?", :method => :delete
		%hr
- else
	No graphs defined

= link_to "Add new Graph", new_graph_path