body {
  background-color: #000;
  color: #888;
  font-family: Helvetica; }
  body h1 {
    font-size: 62px;
    letter-spacing: -2px;
    padding: 0px;
    margin: 0px;
    text-shadow: #FFF 2px 2px 5px; }
