%h4 Your Secrets:
%ul
	-current_user.secrets.each do |secret|
		%li
			=secret.secret
			=link_to "delete", secret_path(secret), :method => :delete

=link_to "New Secret", secrets_path, :method => :post   