!!! XML
!!!

%html
	%head
		%title The War Room
		%link{:href=>"/stylesheets/warroom.css", :rel=>"stylesheet", :type=>"text/css"}
		%script{:src=>"/javascripts/jquery.js", :type=>"text/javascript"}
		%script{:src=>"/javascripts/flot/jquery.flot.js", :type=>"text/javascript"}
		
		
	%body
		%h1 THE WAR ROOM
		%hr
		= yield